
body {
  padding: 1rem 2rem;
}



.back {
    border-radius: 3rem;
    width: 85%;
    margin: 2rem auto;
    padding: 3rem 6rem;
    box-shadow: 0 4px 20px #00000014;
    background: linear-gradient(270deg, #1E3A8A 0%, #6A88DD 97%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}